<%- include('./partials/header', ) %>

<!-- Main Navigation -->
  <%- include('./partials/nav', ) %>
  
  <section class="section">
    <div class="grid">
      <% shows.forEach(show => { %>
        <div class="show__container">
          <div class="show__picture" id="<%= show.id %>" style="background-image: url('<%= show.thumbnail %>');">
          </div>
          <a class="show__link" href="<%= show.url %>"><%= show.title %></a>
        </div>
      <% }) %>
    </div>
  </section>

  <%- include('./partials/footer', ) %>
  