<%- include('./partials/header', ) %>

<!-- Main Navigation -->
  <%- include('./partials/nav', ) %>
  
  <section class="section">
    <div class="grid">
      <% shows.forEach(show => { %>
        <div class="show__container">
          <a href="<%= show.url %>">
            <div class="show__picture" id="<%= show.id %>" style="background-image: url('<%= show.thumbnail %>');">
            </div>
          </a>
          <h3 class="show__link"><%= show.title %></h3>
        </div>
      <% }) %>
    </div>
  </section>

  <%- include('./partials/footer', ) %>
  